footer {
    background-color: var(--dreamless-sleep);
    color: var(--matt-white);
    max-width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }