.buttons-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.buttons-container button {
  color: var(--vivid-yellow);
  font-size: 1.2rem;
  margin-top: 2rem;
}

.container {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  z-index: 10;
  background-image: url("../../public/assets/maps/Base-Map.png");
}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #ccc;
  cursor: pointer;
  z-index: 9;
  color: var(--poppy-red);
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  /* border: solid 2px var(--poppy-red); */
}

.tile:hover {
  border: var(--glossy-black) solid 2px;
}

.tile.revealed {
  background-color: rgba(0, 0, 0, 0);
  border: var(--glossy-black) dotted 2px;
}

.tile.hidden {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 992px) {
  .buttons-container {
    margin-top: 8rem;
    margin-right: 8rem;
    align-items: center;
    justify-content: center;
  }
  .grid-container {
    margin-right: 9rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .buttons-container {
    margin-top: 10rem;
    margin-right: 8rem;
    align-items: center;
    justify-content: center;
  }
  .grid-container {
    margin-right: 8rem;
    margin-bottom: 1rem;
  }
}
